<!doctype html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
  <head>
      <meta charset="utf-8">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <title>OurWhats</title>
      <script type="text/javascript"
              src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
      <script type="application/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
      <style>
            .chat-messages {
                display: flex;
                flex-direction: column;
                height: 60vh;
                overflow-y: scroll
            }

            .chat-message-left,
            .chat-message-right {
                display: flex;
                flex-shrink: 0
            }

            .chat-message-left {
                margin-right: auto
            }

            .chat-message-right {
                flex-direction: row-reverse;
                margin-left: auto
            }

            .bubble-color {
              background-color: rgba(127, 224, 30, 0.53) !important;
            }

            .notif-color {
              background-color: rgba(248, 50, 15, 0.94) !important;
            }

            .py-3 {
                padding-top: 1rem!important;
                padding-bottom: 1rem!important;
            }
            .px-4 {
                padding-right: 1.5rem!important;
                padding-left: 1.5rem!important;
            }
            .flex-grow-0 {
                flex-grow: 0!important;
            }
            .border-top {
                border-top: 1px solid #dee2e6!important;
            }

            #list_groups {
                height: 70vh;
                overflow-y: scroll
            }

            #form-popup {
                display: none;
                position: absolute;
                z-index: 9;
                width: 50vh;
                bottom: 8vh;
                background: rgba(13, 110, 252, 0.61);
                border-radius: 25px;
            }

            .btn:focus {
              outline: none;
              box-shadow: none;
            }

            #form-popup .btn {
                position: absolute;
                z-index: 10;
                width: 2vh;
                bottom: 0vh;
                background: linear-gradient(to right, rgba(13, 110, 252, 0), rgb(13, 110, 252));
                border-radius: 0 25px 25px 0;
                height: 9.6vh;
                right: 0.08vh;
                border: none;
            }

            /* The Modal */

            .message-image:hover {opacity: 0.7;}

            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 999; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
            }

            .modal-content {
                margin: auto;
                display: block;
                max-width: 60vw;
                max-height: 60vh;
            }

            /* Add Animation - Zoom in the Modal */
            .modal-content {
                animation-name: zoom;
                animation-duration: 0.6s;
            }

            @keyframes zoom {
                from {transform:scale(0)}
                to {transform:scale(1)}
            }

            .close {
                position: absolute;
                top: 8vh;
                right: 18vw;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                transition: 0.3s;
            }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

            /* 100% Image Width on Smaller Screens */
            @media only screen and (max-width: 700px){
              .modal-content {
                  width: 100%;
              }
            }
      </style>
  </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="max-height: 10vh;">
         <div class="container-fluid">
          <a class="navbar-brand" href="/">User</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Paramètres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="groups">Créer groupe</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" aria-label="Search" />
              <button class="btn btn-outline-success" type="submit">Recherche</button>
            </form>
          </div>
         </div>
        </nav>

<main class="content">
    <div class="container p-0">

		<h1 class="h3 mb-3"></h1>

		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-5 col-xl-3 border-right">

					<div class="px-4 d-none d-md-block">
						<div class="d-flex align-items-center">
							<div class="flex-grow-1">
								<input id="SearchGroup" type="text" class="form-control my-3" placeholder="Rechercher">
							</div>
						</div>
					</div>

                    <div id="list_groups">

                    </div>

					<hr class="d-block d-lg-none mt-1 mb-0">
				</div>
				<div class="col-12 col-lg-7 col-xl-9">
					<div class="py-2 px-4 border-bottom d-none d-lg-block">
						<div id="ActionGroup" class="d-flex align-items-center py-1">
							<div class="position-relative">
								<img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
							</div>
							<div class="flex-grow-1 pl-3">
								<strong></strong>
							</div>
							<div>
								<button class="btn btn-light border btn-lg px-3"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal feather-lg"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg></button>
							</div>
						</div>
					</div>

					<div class="position-relative" >
						<div id="Messages" class="chat-messages p-4">

						</div>
					</div>

					<div id="send_message" class="flex-grow-0 py-3 px-4 border-top" style="height: 10vh">

					</div>
                    <div id="form-popup">
                        <input class="modal-body" type="file" name="file">
                        <button type="submit" class="modal-body btn">↲</button>
                    </div>
				</div>
			</div>
		</div>
	</div>
</main>
<div id="ModalImage" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content">
</div>
  </body>
</html>
